body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header {
    width: 100vw;
    min-height: 46px;
    box-sizing: border-box;
    background: #2C2C2C;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

span {
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

.top_container {
    width: 100%;
    max-height: 46px;
    display: block;
}

.logo {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    height: calc(100% - 18px);
    margin: 9px 15px;
}

.plus_span {
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    position: fixed;
    top: -2px;
    right: 12px;
}

.plus_button {
    width: 27px;
    height: 27px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    background-color: transparent;
    position: fixed;
    top: 9px;
    right: 11px;
}

#new_schedule_input_container {
    width: 100%;
    height: 75px;
    display: none;
    background: #2C2C2C;
}

.new_schedule_input_label, .new_schedule_input_button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.new_schedule_input_label {
    padding: 4px 0px 0px 11px;
}

.input_and_buttons_container {
    display: flex;
    padding: 12px 15px 15px 11px;
}

#new_schedule_input {
    height: 25px;
    flex: auto;
    background: #F5F5F5;
    margin-right: 20px;
}

.new_schedule_input_button_container {
    display: flex;
}

.new_schedule_input_button {
    box-sizing: border-box;
    width: 55px;
    background: #2C2C2C;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

#add_input_button {
    margin-right: 5px;
}

main {
    flex: 1;
    display: flex;
}

#no_schedule_container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#schedule_list_container {
    flex: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.no_schedule_span {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #C2C2C2;
}