body {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    width: 100vw;
    min-height: 46px;
    box-sizing: border-box;
    background: #2C2C2C;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

span {
    font-family: 'Inter';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
}

button {
    cursor: pointer;
}

.main-header {
    max-height: 46px;
    display: flex;
    justify-content: space-between;
    padding: 9px 12px 10px 11px;
}

.main-header__title {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    height: calc(100% - 18px);
}

.main-header__button {
    width: 27px;
    height: 27px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    background-color: transparent;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
}

.main-header__button--show {
    display: inline;
}

.main-header__button--hide {
    display: none;
}

#plus_button {
    background-image: url('./image/plus_btn.png');
}

#align_button {
    background-image: url('./image/align_vector.svg');
}

#sub-header {
    width: 100%;
    height: 75px;
    display: none;
    background: #2C2C2C;
}

.sub-header__label,
.sub-header__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.sub-header__label {
    padding: 4px 0px 0px 11px;
}

.sub-header__content {
    display: flex;
    padding: 12px 15px 15px 11px;
}

#sub-header__input {
    height: 25px;
    flex: auto;
    background: #F5F5F5;
    margin-right: 20px;
}

.sub-header {
    display: flex;
}

.sub-header--show {
    display: flex;
}

.sub-header--hide {
    display: none;
}

.sub-header__button {
    box-sizing: border-box;
    width: 55px;
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

#add_input_button {
    margin-right: 5px;
}

main {
    flex: 1;
    display: flex;
    height: calc(100vh - 46px - 75px);
}

#no-schedule-section {
    align-items: center;
    justify-content: center;
}

.no-schedule-section--show {
    display: flex;
    flex: 1;
}

.no-schedule-section--hide {
    display: none;
}

#schedule-list-section {
    flex: 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
}

.schedule-list-section--show {
    display: flex;
    flex: 1;
}

.schedule-list-section--hide {
    display: none;
}


.no-schedule-section__text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #C2C2C2;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    width: 100%;
    padding: 24px 17px 24px 11px;
    border-bottom: 1px solid #DEDEDE;
    box-sizing: border-box;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list_edit_button, .list_delete_button {
    width: 14.3px;
    height: 14.3px;
    border: none;
    background-color: transparent;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.list_delete_button {
    background-image: url('./image/delete_btn.png');
    margin-left: 12px;
}

.list_edit_button {
    background-image: url('./image/edit_vector.svg');
}

.list_button_container {
    display: flex;
}

li>span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.edit_input {
    flex: auto;
    margin-right: 25px;
}