@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');
html,
body {
    height: 100%;
    width: 80%;
    display: flex;
    margin: 0;
    flex-direction: column;
}

#head {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background: #2C2C2C;
    color: #FFFFFF;
}

.todo-logo {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
}

.container {
    padding: 20px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#todo-form {
    margin: 0 2%;
    font-weight: bold;
    display: none;
}

#plus-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.input-line {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

#empty-notice {
    margin: 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 50px;
    color: #C2C2C2;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-Bottom-color: #2C2C2C;
}

.todo-text {
    font-size: 20px;
}

.delete-button {
    cursor: pointer;
    border: none;
    background: #FFFFFF;
}

#new-schedule {
    padding-bottom: 10px;
}

#addbutton {
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}

#cancelbutton {
    background: #000000;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
}