@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap");

html, body {
    height: 100%;
}

.box {
    height: 100%;
    display: flex;
    flex-direction: column;
}

button {
    background: transparent;
    cursor: pointer;
}

#head {
    position: sticky;
    top: 0;
    background: #2C2C2C;
    color: #FFFFFF;
}

.todo-logo {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
}

.container {
    padding: 20px 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#todo-form {
    margin: 0 2%;
    font-weight: bold;
    display: none;
}

#plus-button {
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
}

.input-line {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

.add-cancel-btn {
    margin-left: 5px;
    border: 1px solid white;
    color: #FFFFFF;
    border-radius: 10px;
}

#todo-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#empty-notice {
    margin: auto;
    font-weight: 600;
    font-size: 50px;
    color: #C2C2C2;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-style: solid;
    border-width: 0 0 1px;
    border-Bottom-color: #2C2C2C;
}

.todo-text {
    font-size: 20px;
}

.delete-button {
    border: none;
    background: #FFFFFF;
}

#new-todo {
    padding-bottom: 10px;
}